/* BASIC STYLES HERE */
.background{
  background-image: url(https://cdn.wallpapersafari.com/34/9/sEiXSm.jpg);
}


.ListCard{
 min-height: 25rem !important;
 max-width: 35rem !important;
  
} 

.todo-style{
  font-family: 'ZCOOL KuaiLe', cursive;
}

.bigtask{
  font-family: 'Lobster', cursive;
  color: rgb(212, 84, 68);
}

.ListFont{
  font-family: 'Alfa Slab One', cursive;
}

.list-button{
  background-color: rgba(211, 129, 145, 0.24);
  color: rgba(248, 248, 255, 0.726)
}

.list-list{
  background-color: rgba(233, 47, 109, 0.219);
  color: ghostwhite;
}